
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!--<title> Drop Down Sidebar Menu | CodingLab </title>-->
    <link rel="stylesheet" href="../style/penjualan.css" />
    <!-- Boxiocns CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo-details">
        <i class="bx bxs-book-bookmark"></i>
        <span class="logo_name">Toko Buku</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="./overview.html">
            <i class="bx bx-grid-alt"></i>
            <span class="link_name">Dashboard</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="./overview.html">Dashboard</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class="bx bx-collection"></i>
              <span class="link_name">Operation's</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Operation's</a></li>
            <li><a href="./buku.html">Buku</a></li>
            <li><a href="./distributor.html">Distributor</a></li>
            <li><a href="./pasok.html">Pasok</a></li>
            <li><a href="./penjualan.html">Penjualan</a></li>
            <li><a href="./user.html">User</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="bx bxs-report"></i>
            <span class="link_name">Laporan</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Laporan</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="bx bx-cog"></i>
            <span class="link_name">Setting</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Setting</a></li>
          </ul>
        </li>
        <li>
          <div class="profile-details">
            <div class="profile-content">
              <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
              <div class="profile_name">Reuben Danu</div>
              <div class="job">Admiral</div>
            </div>
            <i class="bx bx-log-out"></i>
          </div>
        </li>
      </ul>
    </div>
    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">Drop Down Sidebar</span>
      </div>

      <div class="section header">
        <div class="header">
          <span>Penjualan</span>
        </div>
      </div>

      <div class="section">
        <div class="title">
          <span>Data Penjualan</span>
        </div>
        <div class="search container">
          <input
            class="search input"
            type="text"
            placeholder="Cari Penjualan"
          />
          <span class="search button"><button type="submit"></button></span>
        </div>
        <div class="data penjualan">
          <table class="styled-table">
            <thead>
              <tr>
                <th>ID Penjualan</th>
		<th>ID User</th>
                <th>ID Buku</th>
                <th>Tanggal</th>
                <th>Jumlah</th>
                <th colspan="2">Operasi</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Reuben</td>
                <td>Karangmojo</td>
                <td>0897</td>
                <td>0897</td>
                <td><a href="#edit">Edit</a></td>
                <td><a href="#hapus">Hapus</a></td>
	       </tr>	
            </tbody>
          </table>

          <div class="button">
            <button><a href="#tambah">Tambah Penjualan</a></button>
          </div>
        </div>
      </div>
    </section>
    <script>
      let arrow = document.querySelectorAll(".arrow");
      for (var i = 0; i < arrow.length; i++) {
        arrow[i].addEventListener("click", (e) => {
          let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
          arrowParent.classList.toggle("showMenu");
        });
      }
      let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".bx-menu");
      console.log(sidebarBtn);
      sidebarBtn.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      });
    </script>
  </body>
</html>
